<!DOCTYPE html>
<html ng-app='app'>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width">
	<title>Hiring Creditoo</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
	
	<script>
		var app = angular.module('app', []);

		app.controller('MainCtrl', function($http){
			var vm = this;
			vm.data = false;
			vm.fetchData = function(user){
				vm.loading = true;
				$http.get('https://api.github.com/users/' + user.name).then(function(res){
					vm.data = true;
					vm.avatar_url = res.data.avatar_url || 'Not found';
					vm.html_url = res.data.html_url || 'Not found';
					vm.name = res.data.name || 'Not found';
					vm.blog = res.data.blog || 'Not found';
					vm.location = res.data.location || 'Not found';
					vm.loading = false;
				})
			}
		})
	</script>

	<style>
		body{
			margin-top:10%;
		}
		.form-control{
			display: inline;
			margin-bottom: 20px;
			width: 50%;
		}
		h2{
			text-align: center;
		}
		.search-user{
			padding-left: 30%;
		}
	</style>
	
</head>

<body ng-controller='MainCtrl as vm'>

	<div class="container-fluid">
		<h2> Enter a username to get data about a github account:)</h2>

		<div class="search-user">
			<input type="text" class="form-control" ng-model="user.name" name="enter">
			<button ng-click="vm.fetchData(user)" class="btn btn-primary">Go!</button>
			<h4 ng-if="vm.loading === true"> Loading...</h4>
			<h3 ng-hide="vm.data === false">
				<img src="{{vm.avatar_url}}"></br>
				url: {{vm.html_url}}</br>
				Username: {{vm.name}}</br>
				Blog: {{vm.blog}}</br>
				Location: {{vm.location}}
			</h3>
		</div>
	</div>

</body>
</html>